        <!DOCTYPE html>
        <html>
                <head>
                        <meta charset="UTF-8" />
                        <meta name="viewport" content="width=device-width" />
                        <title>DashBoard {% block title %}{% endblock %}</title>
                </head>
                <body>
                        <div align="right">
                                {{ user.first_name }} {{user.last_name}}
                                <br/>
                                <a href="{% url 'log_out' %}">Logout</a>
                                <br />
                                <a href="{% url 'new' %}">Criar Nova Task</a>
                        </div>
                                
                        {% block body %}
                        {% endblock %}
                </body>
        </html>
